sktime
numba
lightkurve
flask
pyarrow
fastparquet
torch
tensorflow[and-cuda]
itsdangerous
streamlit
extra-streamlit-components
sqlalchemy
asyncpg
psycopg2
tsai[extras]
passlib
argon2_cffi
ipykernel
astropy
streamlit-cookies-manager
xgboost
scikit-learn
imblearn
lightgbm
tqdm
dotenv
Authlib
deep_translator
#html2text
#beautifulsoup4